@import "_variables"
@import "_colors/" + $colors
@import "_util"
@import "_mixins"
@import "_extend"
@import "_fonts"

global-reset()

*, *:before, *:after
  box-sizing: border-box

html
  margin: 0
  padding: 0
  height: 100%
  border-top: 2px solid $color-text
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0 0 68px 0
  height: 100%
  background-color: $color-background
  color: $color-text
  font-display: swap // @stylint ignore
  font-weight: 400
  font-size: $font-size
  font-family: $font-family-body
  line-height: $line-height
  text-rendering: geometricPrecision
  flex: 1

  antialias()

  @extend $base-style

.content
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  overflow-wrap: break-word

  p
    hyphens(auto)

  code
    hyphens(manual)

  a
    color: $color-text
    text-decoration: none

    underline(5px, $color-text)

    &:hover
      background-image: linear-gradient(transparent, transparent 4px, $color-link 4px, $color-link)

  a.icon
    background: none

    &:hover
      color: $color-link

  h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
    background: none
    color: inherit
    text-decoration: none

  h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
    underline(6px, $color-link)

  h6
    a
      background: none
      color: inherit
      text-decoration: none

  h6
    a:hover
      underline(6px, $color-link)

@media (min-width: 540px)
  .image-wrap
    flex-direction: row
    margin-bottom: 2rem

    .image-block
      flex: 1 0 35%
      margin-right: 2rem

    p
      flex: 1 0 65%

.max-width
  max-width: $page-width

@media (max-width: 480px)
  // smaller margins at smaller screen widths
  .px3
    padding-right: 1rem
    padding-left: 1rem

  .my4
    margin-top: 2rem
    margin-bottom: 2rem

@media (min-width: 480px)
  p
    text-align: justify

@import "_partial/header"
@import "_partial/post/actions_desktop"
@import "_partial/post/actions_mobile"
@import "_partial/index"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/comments"
@import "_partial/footer"
@import "_partial/pagination"
@import "_partial/search"
@import "_partial/tags"
@import "_partial/tooltip"
@import "_partial/categories"
// Code
@import "_highlight/" + $highlight

pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted $color-border
  border-radius: 4px
  font-size: 13px
  font-family: $font-family-mono
  line-height: 22px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 0 5px
  
  background-color: rgba(27,31,35,.05);
  border-radius: 2px
  -webkit-border-radius: 2px

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px
  border-radius: 4px
  background: $color-background-code
  font-family: $font-family-mono
  // color: $color-accent-3
  -webkit-border-radius: 4px

  figcaption
    margin: -5px 0 5px
    color: $color-meta-code
    font-size: .9em
    zoom: 1

    a
      float: right
      color: $color-meta-code
      font-style: italic
      font-size: .8em

      underline(10px, $color-link)

    a:hover
      color: lighten($color-meta-code, 20%)

    &:before, content: ""
      display: table

    &:after
      clear: both

  &:hover 
    .btn-copy
      opacity: 1

  .btn-copy
    font-size: 1.2rem
    position: absolute
    right: 20px
    opacity: 0
    transition: opacity 0.2s ease-in
    &:hover
      color: $color-accent-1

  pre
    margin: 0
    padding: 0
    border: none
    background: none

  table
    width: auto

  td.gutter
    text-align: right
    opacity: .2

  .line
    height: 22px

@media(prefers-color-scheme: dark)
  html
    border-top: 2px solid #c9cacc
  body
    background-color: #1d1f21
    color: #c9cacc
  
  body h1,
  body .h1
    color: #2bbc8a

  body h2,
  body .h2,
  body h3
    color: #eee

  body h4,
  body h5,
  body h6
    color: #ccc

  body hr
    border: 0.5px dashed #ccc

  body th 
    border-bottom: 1px dashed #666
    color: #eee

  .content a 
    color: #c9cacc
    background-image: linear-gradient(transparent, transparent 5px, #c9cacc 5px, #c9cacc)

  .content a:hover 
    background-image: linear-gradient(transparent, transparent 4px, #d480aa 4px, #d480aa)

  .content a.icon
    background: none

  .content a.icon:hover
    color: #d480aa

  .content h1 a,
  .content .h1 a,
  .content h2 a,
  .content h3 a,
  .content h4 a,
  .content h5 a,
  .content h6 a 
    color: inherit

  .content h1 a:hover,
  .content .h1 a:hover,
  .content h2 a:hover,
  .content h3 a:hover,
  .content h4 a:hover,
  .content h5 a:hover,
  .content h6 a:hover 
    background-image: linear-gradient(transparent, transparent 6px, #d480aa 6px, #d480aa)

  #header h1,
  #header .h1 
    color: #c9cacc
  
  #header a
    color: inherit 
  
  #header #nav
    color: #2bbc8a

  #header #nav ul a
    color: #2bbc8a

  #header #nav ul a:hover 
    background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a)

  #header #nav ul li 
    border-color: #2bbc8a
  
  #header #nav ul a:hover 
    background: none
  
  #header-post a 
    background: none
    color: inherit

  #header-post a.icon
    background: none

  #header-post a.icon:hover 
    color: #d480aa

  #header-post #menu-icon:hover 
    color: #2bbc8a

  #header-post #menu-icon-tablet:hover 
    color: #2bbc8a

  #header-post #top-icon-tablet:hover 
    color: #2bbc8a

  #header-post .active 
    color: #2bbc8a

  #header-post #nav
    color: #2bbc8a

  #header-post #nav ul a 
    color: #2bbc8a

  #header-post #nav ul a:hover 
    background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a)

  #header-post #nav ul li 
    border-right: 1px dotted #2bbc8a

  #header-post #toc a:hover 
    color: #d480aa
  
  #header-post #toc .toc-level-2
    color: #c9cacc

  #header-post #toc .toc-level-2:before
    color: #2bbc8a

  #header-post #toc .toc-level-3
    color: #666

  #header-post #toc .toc-level-4
    color: #525252

  #footer-post
    background: #212326
    border-top: 1px solid #666

  #footer-post a
    background: none
    color: inherit
  
  #footer-post a.icon 
    background: none
  #footer-post a.icon:hover
    color: #d480aa

  #footer-post #nav-footer 
    background: #323539

  #footer-post #nav-footer a
    color: #2bbc8a

  #footer-post #nav-footer a:hover 
    background-image: linear-gradient(transparent, transparent 5px, #2bbc8a 5px, #2bbc8a)

  #footer-post #actions-footer a
    color: #2bbc8a

  #footer-post #share-footer
    background: #323539

  #footer-post #toc-footer
    background: #323539

  #footer-post #toc-footer a:hover
    color: #d480aa

  #footer-post #toc-footer .toc-level-2 
    color: #c9cacc

  #footer-post #toc-footer .toc-level-2:before
    color: #2bbc8

  #footer-post #toc-footer .toc-level-3
    color: #666

  .post-list .post-item .meta
    color: #666

  article header .meta *
    color: #ccc

  article .content h2:before
    color: #2bbc8a

  article .content blockquote
    background: inherit
    color: #ccffb6

  article .content blockquote:before
    color: #ccffb6

  article .content blockquote footer
    color: #666

  article .content blockquote footer a 
    background-image: linear-gradient(transparent, transparent 5px, #666 5px, #666)
    color: #666

  article .content blockquote footer a:hover 
    background-image: linear-gradient(transparent, transparent 4px, #858585 4px, #858585)
    color: #858585
  
  article .content .caption
    color: #666

  .article-tag .tag-link
    background-image: linear-gradient(transparent, transparent 10px, #d480aa 10px, #d480aa)

  .article-category .category-link
    background-image: linear-gradient(transparent, transparent 10px, #d480aa 10px, #d480aa)

  #archive .post-list .post-item .meta
    color: #666

  #footer
    color: #666

  #footer li
    border-color: #666

  #footer a 
    color: #666
  #footer a:hover
    color: #858585

  .pagination .page-number 
    color: #c9cacc;

  .pagination a
    color: #c9cacc
  
  .pagination a:hover:not(.active)
    color: #eee

  .search-input
    background-color: #1d1f21
    color: #c9cacc
  .search-input:focus
    border: solid 1px #2bbc8a

  #search-result a.search-result-title
    color: #c9cacc;

  #search-result em.search-keyword 
    border-bottom: 1px dashed #d480aa;
    color: #d480aa;

  .search-no-result
    color: #c9cacc;
  #tag-cloud .tag-cloud-title
    color: #666

  .tooltipped::after 
    color: #1d1f21
    background: #c9cacc;

  .tooltipped::before
    color: #c9cacc
    opacity: 0

  .tooltipped-s::before,
  .tooltipped-sw::before
    border-bottom-color: #c9cacc

  #categories .category-list-title
    color: #666
  #categories .category-list .category-list-item .category-list-count
    color: #666

  .highlight 
    color: #d1d9e1;

  .highlight .code .comment,
  .highlight .code .quote 
    color: #969896;
  
  .highlight .code .keyword,
  .highlight .code .selector-tag,
  .highlight .code .literal,
  .highlight .code .type,
  .highlight .code .addition 
    color: #c9c;

  .highlight .code .number,
  .highlight .code .selector-attr,
  .highlight .code .selector-pseudo 
    color: #f99157;

  .highlight .code .string,
  .highlight .code .doctag,
  .highlight .code .regexp 
    color: #8abeb7;

  .highlight .code .title,
  .highlight .code .name,
  .highlight .code .section,
  .highlight .code .built_in 
    color: #b5bd68;
  
  .highlight .code .variable,
  .highlight .code .template-variable,
  .highlight .code .selector-id,
  .highlight .code .class .title 
    color: #fc6;
  
  .highlight .code .symbol,
  .highlight .code .bullet,
  .highlight .code .subst,
  .highlight .code .meta,
  .highlight .code .link 
    color: #f99157;
  
  .highlight .code .deletion 
    color: #dc322f;
  
  .highlight .code .formula 
    background: #eee8d5;
  
  .highlight .code .attr,
  .highlight .code .attribute 
    color: #81a2be;
  
  pre
    border: 1px dotted #666
    
  code
    background-color: rgba(24, 24, 24, 0.8)

  .highlight
    background: #212326

  .highlight figcaption
    color: #666;

  .highlight figcaption a
    color: #666

  .highlight figcaption a:hover
    color: #858585

  .highlight .btn-copy 
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: opacity 0.2s ease-in

  .highlight .btn-copy:hover
    color: #2bbc8a
