<div class="post-container">
    <div id="post-card" class="card">
        <% if (page.thumbnail) { %>
            <div class="card-image lazyload" data-bg="url('<%= page.thumbnail %>')"></div>
        <% } %>
        <div class="card-item-container">
            <div class="card-inner-cell">
                <div class="card-body">
                    <article id="post-content">
                        <%- page.content %>
                    </article>
                </div>
                <%- partial('_partial/post/footer-pagination') %>
            </div>
        </div>
    </div>
</div>